.tariffsWrap {
  .tariffsContainer {
    @media screen and (max-width: 768px) {
      padding: unset !important;
    }

    h2 {
      text-align: center;

      @media screen and (max-width: 768px) {
        margin-bottom: unset;
      }
    }

    .tariffs {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      column-gap: 16px;
      height: 600px;

      @media screen and (max-width: 992px) {
        column-gap: 8px;
        height: unset;
        margin-bottom: 80px;
      }

      @media screen and (max-width: 768px) {
        column-gap: 8px;
        height: unset;
        overflow: auto;
        justify-content: flex-start;
        padding: 40px 16px 0 16px;
      }

      .tariffCard {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 280px;
        min-height: 456px;

        background-color: var(--background-primary);
        border-radius: 40px;
        padding: 0 8px 40px 8px;
        transition: background-color 0.3s;

        @media (hover: hover) {
          &:hover {
            &:nth-child(1) {
              background-color: var(--background-secondary);
            }

            &:nth-child(2) {
              background-color: var(--background-dark);

              .tariffTitle,
              .tariffDesc {
                color: var(--text-contrast);
              }
            }

            &:nth-child(3) {
              background-color: var(--background-accent-blue);

              .tariffTitle,
              .tariffDesc {
                color: var(--text-contrast);
              }

              .tariffPrice {
                color: var(--text-primary);
              }

              .button {
                background-color: var(--background-white);
                color: var(--text-accent-blue);
              }
            }

            .imageWrap {
              .tariffImage {
                opacity: 0;
              }

              .tariffImageHover {
                opacity: 1;
              }
            }
          }
        }

        @media screen and (max-width: 992px) {
          height: unset !important;
          min-height: 408px;
          padding: 20px;
        }

        @media screen and (max-width: 768px) {
          min-height: 396px;
          min-width: 160px;
          padding: 8px;
          justify-content: stretch;
        }

        .body {
          @media screen and (max-width: 768px) {
            display: flex;
            flex-direction: column;
            flex: 1;
            justify-content: space-between;
          }
        }

        .imageWrap {
          position: relative;
          width: 100%;
          height: 280px;

          @media screen and (max-width: 992px) {
            margin-bottom: -92px;
          }

          @media screen and (max-width: 768px) {
            height: 160px;
            margin-bottom: -50px;
          }

          .tariffImage {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: contain;
            transition: opacity 0.3s;

            @media screen and (max-width: 992px) {
              top: -90px;
              height: 280px;
            }

            @media screen and (max-width: 768px) {
              top: -50px;
              height: 160px;
            }
          }

          .tariffImageHover {
            opacity: 0;
          }
        }

        .tariffTitle {
          font-family: 'Gilroy', sans-serif;
          font-weight: 700;
          font-size: 24px;
          line-height: 1.2;
          letter-spacing: 0.01em;
          text-align: center;
          color: var(--text-primary);

          @media screen and (max-width: 992px) {
            font-size: 24px !important;
            letter-spacing: 0.01em;
          }

          @media screen and (max-width: 768px) {
            font-size: 20px;
          }
        }

        .tariffDescOverlay {
          .tariffDesc {
            line-height: 1.3;
            text-align: center;
            color: var(--text-primary);
            transition: color 0.3s;
            margin-top: 8px;

            @media screen and (max-width: 992px) {
              font-size: 14px;
              line-height: 1.3;
              letter-spacing: 0.02em;
              text-align: center;
            }

            @media screen and (max-width: 768px) {
              font-size: 12px;
            }
          }
        }

        .buttonOverlay {
          width: 100%;
          max-width: 200px;
          margin: 0 auto;

          @media screen and (max-width: 992px) {
            max-width: unset;
            height: auto !important;
          }

          .button {
            margin-top: 40px;
            width: 100%;

            @media screen and (max-width: 992px) {
              font-size: 16px !important;
              height: 48px !important;
              margin-top: 20px;
            }

            @media screen and (max-width: 992px) {
              white-space: nowrap;
            }

            @media screen and (max-width: 992px) {
              padding: 0 15px !important;
            }
          }
        }

        .tariffPrice {
          font-family: 'Gilroy', sans-serif;
          font-weight: 700;
          font-size: 32px;
          line-height: 1.2;
          text-align: center;
          color: var(--text-accent-blue);
          margin-top: 20px;
          margin-inline: auto;

          @media screen and (max-width: 768px) {
            font-size: 24px !important;
            max-width: 100px;
          }
        }
      }
    }
  }
}
