.benefits {
  .benefitsWrap {
    display: flex;
    column-gap: 32px;

    .benefitBlock {
      flex: 1;
    }

    .benefitMainCard {
      position: relative;
      height: 420px;
      background-image: url('../../shared/assets/images/benefits/benefitCard.png');
      border-radius: 32px;
      overflow: hidden;
      margin-bottom: 20px;

      .benefitMainText {
        position: absolute;
        left: 40px;
        bottom: 40px;

        font-family: 'Gilroy', sans-serif;
        font-weight: 700;
        font-size: 48px;
        line-height: 1.2;
        max-width: 366px;

        span {
          color: var(--text-accent-blue);
        }
      }

      .benefitMainImage {
        position: absolute;
        right: 0;
        bottom: 0;
      }
    }

    .wrap {
      display: flex;
      column-gap: 16px;
      background-color: var(--background-primary);
      border-radius: 32px;
      padding: 16px;
    }

    .column {
      flex-direction: column;
    }

    .benefitCard {
      display: flex;
      align-items: center;
      column-gap: 20px;
      border-radius: 20px;
      padding: 12px;
      height: 102px;
      background: var(--background-white);
      flex: 1;

      @media (hover: hover) {
        &:hover {
          .benefitCardImage {
            img {
              transform: scale(1.4);
            }
          }
        }
      }

      .benefitCardImage {
        border-radius: 16px;
        width: 78px;
        height: 78px;
        background: var(--background-secondary);

        img {
          transition: transform 0.3s;
        }
      }

      .benefitCardBody {
        .benefitCardTitle {
          font-weight: 700;
          font-size: 20px;
          line-height: 1.2;
          letter-spacing: 0.01em;
          color: var(--text-accent-blue);
          margin-bottom: 12px;
        }

        .benefitCardSubtitle {
          font-weight: 400;
          font-size: 16px;
          line-height: 1.3;
          color: var(--text-secondary);
        }
      }

      &.benefitCardLarge {
        column-gap: 40px;
        margin-bottom: 8px;

        @media (hover: hover) {
          &:hover {
            .benefitCardImage {
              img {
                transform: unset;
              }
            }
          }
        }

        .benefitCardImage {
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 20px;
          width: 256px;
          height: 256px;
        }

        .benefitCardBody {
          .benefitCardTitle {
            font-size: 48px;
            margin-bottom: 20px;
          }

          .benefitCardSubtitle {
            font-size: 20px;
            line-height: 1.2;
          }
        }
      }
    }

    .row {
      display: flex;
      column-gap: 8px;
      margin-bottom: 28px;
    }

    .button {
      height: 128px;
      font-size: 24px;
    }
  }
}
