.dataCenterPage {
  .container {
    @media screen and (max-width: 1440px) {
      max-width: 1168px;
    }
  }

  .useful {
    margin-bottom: 200px;

    @media screen and (max-width: 1440px) {
      margin-bottom: 55px;
    }

    @media screen and (max-width: 1024px) {
      margin-bottom: 80px;
    }

    @media screen and (max-width: 768px) {
      margin-bottom: 40px;
    }
  }
}

.margin {
  margin-bottom: 120px;

  @media screen and (max-width: 1440px) {
    margin-bottom: 40px;
  }

  @media screen and (max-width: 1024px) {
    margin-bottom: 80px;
  }

  @media screen and (max-width: 768px) {
    margin-bottom: 40px;
  }
}
