.dataCenterBanner {
  .animation {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100vw;
    max-height: 800px;
    border-radius: 40px;
  }

  .dataCenterContainer {
    position: relative;
    z-index: 1;
    margin-top: 56px;
    min-height: 475px;
  }

  h1 {
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 40px;
    max-width: 592px;

    span {
      color: var(--text-accent-blue);
    }

    strong {
      color: var(--text-accent-blue);
    }
  }

  .description {
    margin-bottom: 40px;

    a {
      text-decoration: underline;
    }
  }

  @media screen and (max-width: 992px) {
    h1 {
      font-size: 32px;
      line-height: 38.4px;
    }
  }

  @media screen and (max-width: 768px) {
    .dataCenterContainer {
      margin-top: 328px;
      margin-bottom: unset;
      min-height: unset;
    }

    h1 {
      margin-bottom: 20px;
    }
  }
}

.content {
  margin-top: 32px;

  @media screen and (max-width: 992px) {
    margin-top: 80px;
  }

  @media screen and (max-width: 768px) {
    margin-top: 40px;
  }
}

.advantagesTop {
  position: relative;
  z-index: 1;
  margin-top: -160px;
}

.livePhotos {
  .livePhotosTabs {
    display: flex;
    column-gap: 4px;
    padding: 4px;
    background-color: var(--background-secondary);
    border-radius: 16px;
    margin-bottom: 20px;
    width: min-content;

    .livePhotosTab {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 212px;
      height: 48px;
      font-weight: 700;
      cursor: pointer;
      border-radius: 16px;
      transition:
        color 0.3s,
        background-color 0.3s;

      &.active {
        color: var(--text-contrast);
        background-color: var(--button-normal);
      }
    }
  }
}

.goodKnow {
  margin-bottom: 100px;

  h2 {
    text-align: center;
  }

  .goodKnowList {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    max-width: 1216px;
    margin: 0 auto;
  }
}
