@use '@/shared/styles/helpers' as *;

.data-center-development {
  display: flex;
  flex-direction: column;
  row-gap: 64px;

  @include tablet {
    row-gap: 40px;
  }

  &__hero {
    height: 535px;

    @include mobile {
      height: unset;
    }
  }

  &__video-overlay {
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 700px;
      object-fit: cover;
      object-position: left;
      border-radius: 0 0 40px 40px;
      z-index: -1;
      background-color: #16203580;

      @include mobile {
        height: 360px;
        border-radius: 0 0 20px 20px;
      }
    }
  }

  &__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 700px;
    object-fit: cover;
    object-position: left;
    border-radius: 0 0 40px 40px;
    z-index: -2;

    @include mobile {
      height: 360px;
      object-position: center;
      border-radius: 0 0 20px 20px;
    }
  }
}

.development {
  padding-top: 40px;

  @include mobile {
    padding-top: 22px;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 20px;

    @media screen and (max-width: 1800px) {
      margin-left: 196px;
    }

    @media screen and (max-width: 1500px) {
      margin-left: 136px;
    }

    @include tablet {
      margin-left: initial;
    }

    @include mobile {
      align-items: stretch;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    max-width: 808px;
  }

  &__extra {
    font-family: var(--third-family);
    font-weight: 700;
    font-size: fluid(20, 16);
    line-height: 1.2;
    letter-spacing: 0.01em;
    color: var(--text-accent-blue);
  }

  &__title {
    color: var(--text-contrast);

    span {
      color: var(--text-accent-blue);
    }
  }

  &__subtitle {
    color: var(--text-contrast);
  }

  &__list {
    display: flex;
    column-gap: 16px;

    @include mobile {
      flex-wrap: wrap;
      gap: 8px;
    }
  }

  &__item {
    border-radius: 16px;
    padding: 8px 16px;
    background-color: var(--background-secondary);

    @include mobile {
      flex: 1;
    }

    &-title {
      font-size: fluid(14, 12);
      letter-spacing: 0.02em;
    }

    &-value {
      font-family: var(--third-family);
      font-weight: 700;
      font-size: fluid(24, 20);
      line-height: 120%;
      letter-spacing: 0.01em;
      color: var(--text-accent-blue);
      white-space: nowrap;
    }
  }

  &__button {
    width: 100%;
  }

  &__resource {
    border: 1px solid var(--stroke-white);
    border-radius: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    column-gap: 20px;

    @include mobile {
      padding: 12px;
      background-color: var(--background-secondary);
      flex-wrap: wrap;
      column-gap: 8px;
      row-gap: 12px;
    }

    &-body {
      @include mobile {
        flex: 1;
      }
    }

    button {
      @include mobile {
        width: 100%;
      }
    }

    &-title {
      font-weight: 700;
      font-size: 16px;
      line-height: 1.2;
      color: var(--text-contrast);

      @include mobile {
        color: var(--text-primary);
      }
    }

    &-subtitle {
      font-size: 16px;
      line-height: 130%;
      color: var(--text-contrast);

      @include mobile {
        color: var(--text-primary);
      }
    }

    &-link {
      @include mobile {
        width: 100%;
      }
    }
  }
}

.for-whom {
  margin-top: -95px;

  @include mobile {
    margin-top: unset;
  }

  &__inner {
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 16px;
  }

  &__title {
    text-align: center;
    border-radius: 20px;
    padding: 10px 40px;
    background-color: var(--text-contrast);

    @include mobile {
      padding: 10px 8px;
    }
  }

  &__list {
    display: flex;
    column-gap: 8px;
    width: 100%;

    @include mobile {
      flex-direction: column;
      row-gap: 8px;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    column-gap: 16px;
    flex: 1;
    border-radius: 24px;
    padding: 8px;
    box-shadow: 0 20px 50px 0 rgba(123, 135, 194, 0.2);
    background-color: var(--background-white);

    @include tablet {
      flex-direction: column;
      row-gap: 16px;
    }

    @include mobile {
      flex-direction: row;
    }

    &-image {
      border-radius: 25px;
      background-color: var(--background-tonal);

      @include tablet {
        width: 100%;
        height: 100px;
        object-fit: contain;
      }

      @include mobile {
        width: 64px;
        height: 64px;
      }
    }

    &-title {
      font-weight: 700;
      font-size: fluid(20, 16);
      line-height: 1.2;
      letter-spacing: 0.01em;
      color: var(--text-primary);

      @include tablet {
        text-align: center;
      }

      @include mobile {
        text-align: start;
      }
    }
  }
}

.stages {
  &__title {
    text-align: center;
    margin-bottom: 20px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
  }
}

.questions {
  &__title {
    text-align: center;
    margin-bottom: 20px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
  }
}

.call-me {
  width: 100%;
}

.gallery {
  &__title {
    text-align: center;
    margin-bottom: 20px;
  }

  &__list {
    @media screen and (min-width: 1200px) {
      margin-left: calc((100vw - var(--container-width)) / 2) !important;
      width: calc(100vw - ((100vw - var(--container-width)) / 2)) !important;
      padding: 0 0 0 0 !important;
    }

    width: 100vw !important;
    max-width: unset !important;
    margin: 0 0 0 auto !important;
    padding: 0 0 0 16px !important;

    @include tablet {
      padding: 0 0 0 32px !important;
    }

    @include mobile {
      padding: 0 0 0 0 !important;
    }
  }
}
