.iconButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  width: 48px;
  height: 48px;
  border: 1px solid transparent;
  transition:
    background-color 300ms ease-out,
    color 300ms ease-out;

  &.outline {
    background: var(--background-white);
    border: 1px solid var(--stroke-fourthiary);
  }
  &:disabled {
    border: none;
  }

  @media (min-width: (992 + px)) {
    &:hover:not(:disabled) {
      background-color: var(--background-secondary);
      cursor: pointer;
    }
  }
}

.rounded {
  border-radius: 16px;
}
