@use '@/shared/styles/helpers' as *;

.calculator-filters {
  display: flex;
  align-items: center;
  column-gap: 16px;
  margin-bottom: 20px;

  @media screen and (max-width: 1439px) {
    flex-direction: column;
    align-items: stretch;
    row-gap: 16px;
  }

  &__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    color: var(--text-primary);

    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  &__wrap {
    display: contents;

    @media screen and (max-width: 1439px) {
      display: flex;
      gap: 4px;
      justify-content: space-between;
    }
  }

  &__options-list {
    display: flex;
    align-items: center;
    column-gap: 8px;
    flex: 1;

    @media screen and (max-width: 768px) {
      white-space: nowrap;
      overflow-y: auto;
      width: 100vw;
      margin-inline: -16px;
      padding: 0 16px;
      column-gap: 2px;

      @include hide-scrollbar();
    }
  }

  &__options-item {
    border-radius: 16px;
    padding: 0 16px;
    height: 40px;
    background-color: #fff;
    max-width: 170px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #424242;

    @media screen and (max-width: 768px) {
      max-width: unset;
      border-radius: 16px;
      height: 32px;

      font-family: var(--second-family);
      font-weight: 500;
      font-size: 12px;
    }

    &--active {
      background-color: var(--buttons-normal);
      color: #fff;
    }
  }

  &__search {
    max-width: 448px;

    @media screen and (max-width: 1439px) {
      max-width: 100%;
    }

    @media screen and (max-width: 768px) {
      border-radius: 12px;

      input {
        padding: 12px 40px 12px 12px !important;
      }

      div {
        right: 12px !important;
      }
    }

    &-clear {
      cursor: pointer;
    }
  }

  &__mobile-hidden {
    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  &__mobile-visibility {
    display: none;

    @media screen and (max-width: 768px) {
      display: block;
    }
  }
}
