.sliderContainer {
    width: 100%;
    margin: 10px auto;
    outline: 1px solid rgba(123, 135, 194, 0.2);
    outline-offset: -1px;
    padding: 10px 10px 0 10px;
    border-radius: 5px;

    .values {
        display: flex;
        justify-content: space-between;
        margin-bottom: 8px;
        gap: 10px;

        input {
            width: 100%;
            font-size: 16px;
        }

        .max {
            text-align: right;
        }
    }

    .horizontalSlider {
        width: 100%;
        height: 5px;
        border-radius: 5px;
        position: relative;

        .thumb {
            height: 13px;
            width: 13px;
            background-color: var(--button-normal);
            border-radius: 50%;
            cursor: pointer;
            position: relative;
            top: -3.5px;
        }
    }
}
