.catalog {
  .titleWrap {
    display: flex;
    align-items: center;
    column-gap: 20px;
    margin-bottom: 32px;

    @media screen and (max-width: 992px) {
      margin-bottom: 16px;
    }

    .title {
      font-size: 48px;
      line-height: 1.2;

      @media screen and (max-width: 768px) {
        font-size: 40px;
      }
    }

    .count {
      font-weight: 700;
      font-size: 20px;
      line-height: 1.2;
      letter-spacing: 0.01em;
      color: var(--text-fourthiary);

      @media screen and (max-width: 768px) {
        display: none;
      }
    }
  }

  .banners {
    @media screen and (max-width: 768px) {
      display: flex;
      flex-direction: column;
      row-gap: 20px;
    }

    .banner {
      @media screen and (min-width: 769px) {
        display: none;
      }
    }
  }
}
